@import url('https://fonts.cdnfonts.com/css/messe-muenchen');

#blogName{
    font-family: 'messe muenchen', sans-serif;
    font-size: 300%;                                          
}

header{
    min-height: 20vh;
}

#nav{
    background-color: #000000;
    width: 90vw;
}

#nav-container{
    background: linear-gradient(to bottom, rgb(0, 0, 0) 100%, transparent 50%);
}

.active{
    background-color: white;
    color: rgb(0, 0, 0);
}

.active:hover{
    color: black;
}

.horizontal-line {
    border-top: 1px solid rgb(77, 203, 210);
}